   
@import '../styles/all';


$input: #000000;
$input-focus: #ffffff;
 
$text-text: #ffffff;
$text-text-transformed: #a1a1a5;

$inputs-container: #3b3b3b;

$inputs-container-rgba:  rgba($inputs-container, 0.9);

$font-size: 18px;
$font-size-transformed: 14px;




    
#form{
    width: 35%;
    height: 70vh;   


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-template: 1fr 1fr/ 1fr ; 

    border-radius: 10px;
    margin: 5vh auto 0 auto;

    @include box-shadow ( $secondary-color-dark4, $secondary-color-dark4, 0.3);
}



#forgot-header{
    width: 80%;
    text-align: center;

    color: $secondary-color-dark4;
    font-size: 3.5vmin;
    font-size: clamp(3.5vmin, 16px, 4.5vmin);
    font-weight: bold;
}
////////////////////////

#buttons-container{
    width: 80%;
    height: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


    #submit{
        padding: 0.2em 0.8em;
        border:0.1em solid $secondary-color-normal2;
    

        border-radius: 0.12em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Bangers', cursive;
        font-size: 1.7rem;
        color: $secondary-color-normal2;
        @include box-shadow-inverse ($secondary-color-dark4, $secondary-color-dark4, 0.5);
        &:hover{
            text-align: center;
    
            transform: scale(1.05);
            transition: all 0.2s linear 0s;

            
            border:0.1em solid $secondary-color-normal2;
            color: $secondary-color-dark4;
            @include box-shadow-inverse ($secondary-color-normal2, $secondary-color-dark4, 0.5);
        }
    }
    #links{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .form-submit-link, .form-submit-link-create{
            outline: none;
            text-decoration: none;
          
            font-size: 2.5vmin;
            font-size: clamp(2.5vmin, 14px, 3vmin);
            font-weight: bold;
            
            color: $secondary-color-bright1;    

            transition: all 0.2s linear 0s;

          
            &:hover{
                box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);

                cursor: pointer;
                
                transform: scale(1.5);
                color: $secondary-color-normal2;
                text-align: center;
        
                transition: all 0.2s linear 0s;              
            }
        }
        .form-submit-link-create{
            font-size: 2vmin;
            font-size: clamp(2vmin, 12px, 2.5vmin);
        }
    }

}

#inputs-container{
    width: 80%;
    height: 70%;

    margin-top: 1vw; // ''1vw''  sutfa am value'a yaksana ba %5 i width'i container'aka la hamu media'kana   // #inputs-container >>  margin-top: 1vw;   //  #buttons-container  >> margin-bottom:1vw;  
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //grid-template: 1fr 1fr/ 1fr ;  ba js daskari akre
   
    // @include box-shadow-inverse ($secondary-color-normal2, $secondary-color-dark4, 1);
}





.input-div{
    position: relative;

    width: 90%;
    height: 10%;  
   
    font-size: 2.5vmin;
    .form-text{
        position: absolute;
        pointer-events: none;
        transition: all 0.3s linear;
    
        color: $secondary-color-dark4;
        left: 3%;
        top: 30%;
        transform: translate(15%);//translare width u height i xoi bakar ahenet//left u awana hi parent
    
        font-size: 2.5vmin;
        font-size: clamp(2.5vmin, 14px, 3vmin);
    }
    
    .form-input{
        width: 100%;
        height: 100%; 

        padding: 8px 0 8px 5%;

        border: 1px solid black;
        border-radius: 25px;

        outline: none;
      
        color: $secondary-color-light1;
        font-size: 2.5vmin;

        transition: all 0.3s linear;
        background-color: $secondary-color-bright1;
      

        &:focus{
            background-color: $secondary-color-light1;
            color: $secondary-color-light1;
        }
        &:not(:placeholder-shown) {
            background-color: $secondary-color-dark4;
            color: $secondary-color-light1;
        }
    
        &:not(:placeholder-shown) + .form-text, &:focus + .form-text {  //placeholder === space  //''&:focus'' wata katek form-input focus abe >> ''+ .form-span'' wata rek xwar xoi daskaryana law class bam nawawa bka
            transform: translateY(-200% );
            left: 5%;
            
            font-size: 2vmin;
            font-size: clamp(2vmin, 12px, 2.5vmin);
            color: $secondary-color-normal2;
        }
    }

    .form-hint{
        display: none;

        text-align: center;

        color: rgba($secondary-color-light2, 0.6);
        font-size: 1.5vmin;
        font-size: clamp(1.5vmin, 12px, 1.7vmin);
    }
    &:hover    .form-hint{
        display: block;
    }
}

#input-result{
    text-align: center;

    font-size: 1.5vmin;
    font-size: clamp(1.5vmin, 12px, 1.7vmin);
    font-weight: bolder;
}


////////////////////////
@media only screen and (max-width: 950px) {
    #form{
        width: 65vw;
        min-height: 80vh;    
    } 
}
@media only screen and (max-width: 850px) {
    #form{
        width: 80vw;
        min-height: 80vh;    
    } 
}
@media only screen and (max-width: 500px) {
    #form{
        width: 95vw;
        min-height: 95vh;    
    } 
}
  


